@use "../../scss/abstract/mixins" as *;

.password_section {
    @include flex($gap: 0.5rem);

    width: 100%;

    a {
        margin: 0;
        margin-left: auto;
        font-size: 0.9rem;
    }
}
