@use "../../scss/abstract/mixins" as *;

.wrapper {
    @include flex($gap: 0.5rem);

    position: relative;
    width: 100%;

    input:not([type="number"]) {
        width: 100%;
    }
}

span.error {
    // position: absolute;
    // top: 2.5rem;
    // left: 0.5em;

    font-size: 0.85rem;
    font-weight: 500;
    color: var(--danger);
}

.line {
    padding: 0.5em;

    font-weight: 500;

    opacity: 0.9;
    background-color: transparent;
    border: none;
    border-bottom: 0.0625rem solid var(--text);
    outline: none;

    &::placeholder {
        color: var(--text);
        opacity: 0.5;
    }
}

.normal {
    padding: 0.5em 0.75em;
    background-color: var(--foreground);
    border: 1px solid var(--text);
    border-radius: 0.5em;
}

.text {
    max-width: 75%;

    font-size: 1.5rem;
    font-weight: 500;

    background-color: transparent;
    border: none;
    outline: none;
}

.nromal,
.line {
    &.error {
        border-color: var(--danger-dark);
    }
}
