@use "../../scss/abstract/mixins" as *;

.button {
    @include flex($direction: row, $justify: center, $align: center, $gap: 0.5rem);

    cursor: pointer;

    padding: 0.75em 1em;

    font-weight: 500;
    text-transform: capitalize;

    border: none;
    border-radius: 0.5em;

    transition: var(--hover);

    svg {
        font-size: inherit;
    }
}

.primary {
    --color: var(--primary);
    --color-hover: var(--primary-light);
    --color-active: var(--primary-dark);
}

.danger {
    --color: var(--danger);
    --color-hover: var(--danger-light);
    --color-active: var(--danger-dark);
}

.neutral {
    --color: var(--text);
    --color-hover: var(--text);
    --color-active: var(--text);

    opacity: 0.65;

    &:hover,
    &:focus-visible {
        opacity: 0.55;
    }

    &:active {
        opacity: 0.75;
    }
}

.disabled {
    --color: var(--text);
    --color-hover: var(--text);
    --color-active: var(--text);

    cursor: not-allowed;
    opacity: 0.55;
}

.normal {
    color: var(--foreground);
    background-color: var(--color);

    &:hover,
    &:focus-visible {
        background-color: var(--color-hover);
    }

    &:active {
        background-color: var(--color-active);
    }
}

.outline {
    font-weight: 700;
    color: var(--color);
    background-color: transparent;
    border: 0.15em solid var(--color);

    &:hover,
    &:focus-visible {
        color: var(--color-hover);
        border-color: var(--color-hover);
    }

    &:active {
        color: var(--color-active);
        border-color: var(--color-active);
    }
}

.text {
    padding: 0.75em 0;
    font-weight: 700;
    color: var(--color);
    background-color: transparent;

    &:hover,
    &:focus-visible {
        color: var(--color-hover);
    }

    &:active {
        color: var(--color-active);
    }
}
