@use "../../scss/abstract/mixins" as *;
@use "../../scss/abstract/screen-queries" as *;

.form {
    @include flex($gap: 1.75rem, $align: stretch);

    padding: 2.75rem 5rem;

    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px var(--light-shadow);

    transition: var(--hover);

    h1 {
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
    }

    input {
        width: 325px;
    }

    a {
        width: fit-content;
        margin: 0 auto;

        font-weight: 500;
        color: var(--primary);
        text-align: center;
        text-decoration: none;

        transition: var(--hover);

        &:hover,
        &:focus-visible {
            color: var(--primary-light);
        }

        &:active {
            color: var(--primary-dark);
        }
    }

    @media ($tablet) {
        padding: 2.75rem 3.5rem;
    }

    @media ($phone) {
        width: 90%;
        padding: 2.75rem 2.5rem;

        input {
            width: 100%;
        }
    }
}

.input_section {
    @include flex($gap: 1rem);

    margin-bottom: 0.75rem;
}
