@use "../../scss/abstract/screen-queries" as *;

.wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin-left: 300.46px;
    padding: 3.25rem 3.25rem 3rem;

    @media ($tablet) {
        margin-left: 272.46px;
        padding: 3rem 1.5rem 2rem;
    }
    @media ($phone) {
        margin-left: 0;
        padding: 1.5rem;
    }
}

.toast_container {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    transform: translate(-0%, -0%);
}
