@use "../../scss/abstract/screen-queries" as *;

.icon {
    cursor: pointer;

    position: fixed;
    z-index: 999;
    right: 3.25rem;
    bottom: 3rem;

    padding: 1rem;

    font-size: 1.5rem;
    color: var(--white);

    background-color: var(--primary);
    border-radius: 50%;

    transition: var(--hover);

    &:hover,
    &:focus-visible {
        background-color: var(--primary-light);
    }

    &:active {
        background-color: var(--primary-dark);
    }

    @media ($tablet) {
        right: 1.5rem;
        bottom: 1.5rem;
    }
}
