@use "../../scss/abstract/screen-queries" as *;
@use "../../scss/abstract/mixins" as *;

.add_icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: var(--hover);

    &:hover,
    &:focus-visible {
        opacity: 0.75;
    }

    &:active {
        opacity: 1;
    }
}

.heading {
    @include flex($direction: row, $justify: space-between, $align: center);

    margin: 1rem 0;

    &:not(:first-child) {
        margin-top: 2rem;
    }
}
