@use "../../scss/abstract/screen-queries" as *;
@use "../../scss/abstract/mixins" as *;

.title {
    font-size: 2.5rem;
}

.header {
    @include flex($direction: row, $justify: space-between, $align: center);

    margin-bottom: 1.75rem;

    svg {
        cursor: pointer;
        font-size: 1.5rem;
        transition: var(--hover);

        &:hover,
        &:focus-visible {
            opacity: 0.75;
        }

        &:active {
            opacity: 1;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media ($tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media ($tablet-small) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.masonry {
    display: column;
    columns: 4;

    & > * {
        break-inside: avoid;
        margin-bottom: 1rem;
    }

    @media ($tablet) {
        columns: 3;
    }
    @media ($tablet-small) {
        columns: 2;
    }
    @media ($phone) {
        columns: 1;
    }
}

.centered {
    @include flex($align: center, $justify: center);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding-inline: 1rem;
}
