@use "../../scss/abstract/mixins" as *;

.card {
    @include flex($gap: 0.75rem);

    position: relative;
    top: 0;

    padding: 1.25rem;

    color: inherit;
    text-decoration: inherit;
    word-break: break-all;

    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px var(--light-shadow);

    transition: var(--hover);

    p {
        margin-bottom: 0.15rem;
        font-size: 0.9rem;
        opacity: 0.65;
    }

    &:hover,
    &:focus-visible {
        top: -2px;
        box-shadow: 0 4px 5px var(--light-shadow);
    }

    &:active {
        top: -4px;
    }

    &:hover {
        .options {
            visibility: visible;
            opacity: 0.5;
        }
    }
}

.heading {
    @include flex($direction: row, $justify: space-between, $align: center);

    width: 100%;

    h3 {
        font-size: 1.2rem;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .options {
        font-size: 1.2rem;
        visibility: hidden;
        opacity: 0;
        transition: var(--hover);

        &:hover,
        &:focus-visible {
            opacity: 0.75;
        }

        &:active {
            opacity: 0.9;
        }
    }
}

.date {
    margin-top: auto;
    font-size: 0.75rem;
    opacity: 0.5;
}
