@use "../../scss/abstract/mixins" as *;

.card {
    @include flex($gap: 0.75rem);

    position: relative;
    top: 0;

    padding: 1.25rem;

    color: inherit;
    text-decoration: inherit;
    word-break: break-all;

    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px var(--light-shadow);

    transition: var(--hover);

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
        opacity: 0.65;
    }

    &:hover,
    &:focus-visible {
        top: -2px;
        box-shadow: 0 4px 5px var(--light-shadow);
    }

    &:active {
        top: -4px;
    }
}
