@use "../../scss/base/shared" as *;
@use "../../scss/abstract/mixins" as *;
@use "../../scss/abstract/screen-queries" as *;

.card {
    @extend .container;
    @include flex($gap: 0.75rem);

    cursor: pointer;

    position: relative;
    top: 0;

    padding: 1.25rem;

    transition: var(--hover);

    p {
        overflow: hidden;
        display: -webkit-box;

        margin-bottom: 0.15rem;

        font-size: 0.9rem;
        white-space: pre-line;

        opacity: 0.65;

        -webkit-box-orient: vertical;
    }

    &:hover,
    &:focus-visible,
    &.active {
        top: -2px;
        box-shadow: 0 4px 5px rgba(149 157 165 / 5%);

        .options {
            visibility: visible;
            opacity: 0.5;
        }
    }
}

.heading {
    @include flex($direction: row, $justify: space-between);

    width: 100%;

    h3 {
        font-size: 1.2rem;
    }

    svg {
        margin-bottom: 0.15rem;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .options {
        cursor: pointer;

        font-size: 1.2rem;

        visibility: hidden;
        opacity: 0;

        transition: var(--hover);

        &:hover,
        &:focus-visible {
            opacity: 0.75;
        }

        &:active,
        &.active {
            opacity: 0.9;
        }

        @media ($tablet) {
            visibility: visible;
            opacity: 0.5;
        }
    }
}

.date {
    margin-top: auto;
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 0.5;
}

.context_menu {
    position: absolute;
    z-index: 9999;
    top: calc(1.25rem + 1.2rem + 0.3rem);
    right: 1.25rem;
}
