.wrapper {
    position: relative;
    width: 100%;
}

.eye {
    cursor: pointer;

    position: absolute;
    top: 1.1375rem;
    right: 5%;
    transform: translateY(-50%);

    color: var(--text);
}
