@use "../../scss/abstract/screen-queries" as *;

.overlay {
    position: fixed;
    z-index: 99999;
    inset: 0;

    background: rgb(0 0 0 / 35%);
    backdrop-filter: blur(0.1rem);

    @media ($phone) {
        z-index: 9999;
    }
}
