:root {
    --white: #fff;
    --background: #f7f7f7;
    --foreground: #fcfcff;
    --primary: #4e6981;
    --primary-light: hsl(208deg 25% 45%);
    --primary-dark: hsl(208deg 25% 36%);
    --danger: hsl(0deg 51% 53%);
    --danger-light: hsl(0deg 51% 57%);
    --danger-dark: hsl(0deg 51% 51%);
    --text: #2d2e37;
    --shadow: 0 2px 5px rgba(149 157 165 / 5%);
    --hard-shadow: 0 2px 5px rgba(149 157 165 / 35%);
}
