@use "../../scss/abstract/screen-queries" as *;

.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media ($tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media ($tablet-small) {
        grid-template-columns: repeat(2, 1fr);
    }
}
