@use "../../scss/abstract/mixins" as *;

.not_found {
    @include flex($align: center, $justify: center, $gap: 1rem);

    height: 100%;
}

.background_text {
    position: absolute;
    z-index: -1;

    font-size: 50vmin;
    color: var(--text);

    opacity: 0.07;
}

.title {
    font-size: 3rem;
}

.message {
    font-size: 1.2rem;
    opacity: 0.9;
}
